@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'poppins', sans-serif;
    background-color: #025e7a;
    background-image: url('../img/fundodrbm.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    overflow-x: hidden;
}

main{
    display: flex;
    align-items: left;
    justify-content: left;
    margin: 0 6em;
    flex-direction: column;
    height: 100vh;
    position: relative
}

main .assinatura{
    width: 17em;
    margin-top: 6em;
}

.imgAnimacao01{
    display: none;
}

.imgAnimacao02{
    display: none;
}

.copy{
    width: 35em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    gap: 0.2em;
}

.title{
    font-size: 2.8em;
    font-weight: 700;
    color: #fff;
    margin-bottom: 0.3em;
}

.subtitle{
    border-left: 3px solid #fff;
    padding-left: 1em;
    font-size: 1em;
    font-weight: 400;
    color: #fff;
    margin-bottom: 1em;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 0.5em 1em;
    cursor: pointer;
    transition: 0.3s;
    width: 50%;
    text-decoration: none;
    float: left;
    z-index: 4;
    background-color: rgb(190, 190, 190);
    background-image: none;
    color: rgb(36, 36, 36);
    border: 2px solid rgb(255, 255, 255);
    font-size: 18.1592px;
    text-align: center;
    border-radius: 10px;
}

.button:hover{
    background-color: #fff;
    color: #000;
}

.detalhes{
    display: flex;
    gap: 1em;
    align-items: center;
    margin-bottom: 1em;
}

.detalhes .item{
    display: flex;
    gap:0.5em;
    align-items: center;
    color: #fff;
    font-size: 0.6em;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    padding: 0.5em 0;
}

@media screen and (max-width: 768px){
    body{
        background-image: url('../img/fundo_mobiledrbm.webp');
        background-attachment: scroll;
        background-position: top;
    }

    .imgAnimacao01{
        position: absolute;
        top: 26%;
        left: 10%;
        width: 20%;
        rotate: 10deg;
        animation: subir-rotacionar 4s infinite;
        display: block;
    }
    
    .imgAnimacao02{
        position: absolute;
        top: 30%;
        right: 0;
        width: 25%;
        rotate: -10deg;
        animation: subir-rotacionar2 6s infinite;
        display: block;
    }

    main .assinatura{
        width: 12em;
        filter: invert(1);
        margin-top: 0em;
        align-self: center;
    }

    main{
        margin: 0 2em;
    }

    .copy{
        background: rgba(255, 255, 255, 0.075);
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        border-top: 4px solid #fff;
        border-bottom: 4px solid #fff;

        height: auto !important;
        padding: 1em;
        width: 100%;
        margin-top: 16em;

    }

    .title{
        font-size: 2em;
    }

    .subtitle{
        font-size: 0.8em;
    }

    .button{
        margin: 1em 0;
        width: 100%;
    }

    .detalhes .item{
        font-size: 0.8em;
    }

    footer{
        margin-top: 13em;

        display: block;
    }
    
}

@media screen and (max-width: 550px) {
    footer{
        margin-top: 10em;
    }
}

@media screen and (max-width: 425px){

    .title{
        font-size: 1.5em;
    }

    .subtitle{
        font-size: 0.8em;
    }

    .button{
        font-size: 16px;
    }

    .detalhes{
        flex-direction: column;
        align-items: flex-start;
        margin-top: 1em;
    }

    .copy{
        margin-top: 13em;
        padding-bottom: 0;
    }

    .detalhes .item{
        font-size: 0.8em;
    }

    .detalhes .item img{
        width: 1em;
    }

    footer{
        margin-top: 19em;
        font-size: 0.8em;
    }
    
}

@media screen and (max-width: 424px){
    footer{
        margin-top: 9em !important;
        font-size: 0.8em;
    }

    .imgAnimacao01{
        top: 16%;
    }

    .imgAnimacao02{
        top: 16%;
    }
}

@media screen and (max-width: 375px){

    body{
        background-attachment: fixed;
        background-position: top;
    }

    footer{
        margin-top: 5em !important;
        font-size: 0.8em;
    }

    .title{
        font-size: 1.2em;
    }

    .subtitle{
        font-size: 0.8em;
    }

    .button{
        font-size: 14px;
    }

    .copy{
        margin-top: 12em;
    }

    .detalhes .item{
        font-size: 0.8em;
    }

    .detalhes .item img{
        width: 0.8em;
    }
}


/* animação subir e descer suave e rotacionar */
@keyframes subir-rotacionar {
    0% {
        transform: translateY(0) rotate(0deg);
    }
    50% {
        transform: translateY(-30px) rotate(30deg);
    }
    75% {
        transform: translateY(-30px) rotate(-30deg);
    }
    100% {
        transform: translateY(0) rotate(0deg);
    }
}

@keyframes subir-rotacionar2 {
    0% {
        transform: translateY(0) rotate(0deg);
    }
    50% {
        transform: translateY(-30px) rotate(-23deg);
    }
    75% {
        transform: translateY(-30px) rotate(20deg);
    }
    100% {
        transform: translateY(0) rotate(0deg);
    }
}
